name: Lighthouse Check
on: [pull_request]

jobs:
  lighthouse-check:
    runs-on: ubuntu-latest
    env:
      LIGHTHOUSE_ARTIFACTS_PATH: /tmp/lighthouse-artifacts
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Check project
        run: npm run lint
      - name: Build project
        run: npm run build
      - name: Test project
        run: npm run test
      - name: Deploy Preview to Vercel
        uses: amondnet/vercel-action@v20
        id: deploy-preview
        with:
          github-comment: false
          working-directory: ./
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
      - name: Post a friggin comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            Testing if ${{ github.sha }} for pr-${{ github.event.number }} worked well.
            The preview is available here: ${{ steps.deploy-preview.outputs.preview-url }};
      - run: mkdir $LIGHTHOUSE_ARTIFACTS_PATH
      - name: Run Lighthouse
        id: lighthouse-report
        uses: foo-software/lighthouse-check-action@master
        with:
          outputDirectory: $LIGHTHOUSE_ARTIFACTS_PATH
          device: all
          urls: ${{ steps.deploy-preview.outputs.preview-url }}
      - name: Post a friggin comment \#2
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            Testing if ${{ github.sha }} for pr-${{ github.event.number }} worked well.
            The preview is available here: ${{ steps.deploy-preview.outputs.preview-url }};

            Lighthouse Results: ${{ toJSON(steps.lighthouse-report.outputs.lighthouseCheckResults) }}
      - name: "Upload Artifact"
        uses: actions/upload-artifact@v3
        with:
          name: Lighthouse reports
          path: $LIGHTHOUSE_ARTIFACTS_PATH
          retention-days: 5
